.layui-nav-mi{
	position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
}
.layui-nav-mi a{
	display: block;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.layui-breadcrumb>span{
	margin: 0 3px;
}
.layui-nav-mi a:hover{
	color:#fff;
}
.tab-title>li:first-child>.layui-tab-close{
	display: none;
}
.tab-title>.layui-this{
	color:white;
	background: #393d49;
}
.layui-tab{
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
}
.layui-tab>.layui-tab-content{
	padding-top: 0;
	height: calc(100% - 50px);
	width: 100%;
}
.layui-tab>.layui-tab-content>.layui-tab-item{
	height: 100%;
	width: 100%;
}
.layui-tab>.layui-tab-content>.layui-tab-item>iframe{
	height: 100%;
	width: 100%;
}
.company{
	color:#E60000;
}
